# Database
DATABASE_URL="mysql://u898972308_woodizappadm2:PasswordAa1204bee@srv965.hstgr.io:3306/u898972308_woodizapp2"

# Authentication
JWT_SECRET="565fd181eba39cacbc272a7617044a68761c013a17dcd622a4ecea36c7b8ba33bc32e5e307e12b8c13607b201dca9271"
ADMIN_EMAIL="admin@woodiz.fr"
ADMIN_PASSWORD="Aa1204bee@"

# Vercel Blob Storage
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_xxxxxxxxxxxx"

# Next.js
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
